@import "../../styles/utils.scss";
.search-result-container {
  margin: 10px;
  font-weight: bold;
  .search-keyword {
    text-align: center;
    padding: 8px;
    background: $header-bg-color;
    color: #505050;
    border-radius: 20px;
  }
}
