@import "../../styles/utils.scss";
.review {
  padding: 0 20px;

  .review-title {
    border-bottom: 1px solid #e3e3e3;
    margin-top: 10px;
    font-weight: 100;
    padding-bottom: 5px;
  }

  .form-container {
    height: 100px;
    form {
      @include flex(row, center, center);
      width: 100%;
      textarea {
        all: unset;
        resize: none;
        flex-grow: 1;
        padding: 5px;
        font-size: 1.2rem;
        border: 1px solid $white-grey;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
      }

      input {
        height: 30px;
        flex-grow: 1;
        padding: 5px;
        &[type="submit"] {
          all: unset;
          height: 100%;
          padding-left: 5px;
          padding-right: 5px;
          background-color: $blue;
          color: white;
          cursor: pointer;
          white-space: pre;
          border-bottom-right-radius: 10px;
          border-top-right-radius: 10px;
        }
      }
    }
  }

  .review-list-wrapper {
    margin: 5px;
    & > div {
      padding-bottom: 20px;
      padding: 10px;
      border: 1px solid #e3e3e3;
      border-radius: 20px;
      margin-bottom: 10px;
    }

    .review-item {
      padding: 5px;
      margin-bottom: 20px;
      a {
        display: inline-flex;
        align-items: center;
        margin-bottom: 10px;
      }

      .user-img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }

      .user {
        color: black;
        text-decoration: none;
        margin-left: 10px;
        font-size: 1.1rem;
      }

      .date {
        margin-right: 10px;
        margin-bottom: 10px;
        color: $dark-grey;
      }

      .user-review {
        line-height: 1.5;
        white-space: pre-wrap;
      }

      .more {
        font-size: 1rem;
        margin: 10px 0px;
        font-weight: 300;
      }
    }

    .review-footer {
      @include flex(row, none, none);
      margin-top: 10px;
      .heart {
        display: inline-flex;
        margin-right: 5px;
        svg {
          stroke: $white-grey;
          stroke-width: 20px;

          path {
            fill: $white-grey;
          }

          & path:hover {
            fill: $pink;
          }

          cursor: pointer;
        }
      }
    }
  }

  button,
  .more {
    cursor: pointer;
  }
}

@include mobile {
  .review {
    p {
      font-size: 1.1rem;
    }

    .form-container {
      form {
        textarea {
          width: 70vw;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          height: 40px;
          font-size: 1.2rem;
        }
      }
    }
  }
}

@include tablet {
  .review {
    p {
      font-size: 1.1rem;
    }

    .form-container {
      form {
        textarea {
          width: 90vw;
          height: 35px;
        }

        input {
          height: 30px;
          flex-grow: 1;
          padding: 5px;
        }
      }
    }
  }
}

@include desktop {
  .review {
    p {
      font-size: 1.1rem;
    }

    .form-container {
      form {
        textarea {
          width: 90vw;
          height: 40px;
        }

        input {
          height: 30px;
          flex-grow: 1;
          padding: 5px;
        }
      }
    }
  }
}
