@import "../../styles/utils.scss";

.vertical {
  @include flex(column, none, center);
  width: 80vw;
  margin: 20px auto;
  margin-bottom: 50px;

  &-item-title {
    font-weight: bold;
    & > .book-icon {
      margin-left: 5px;
      color: $sun-flower;
    }
  }

  &-item-list {
    display: flex;
    margin-top: 10px;
    overflow-x: scroll;
    overflow-y: hidden;

    & > a {
      margin-right: 10px;

      & .book {
        & > img {
          width: 100px;
        }
      }
    }
  }
}
