@import "../../../styles/utils.scss";
.home-section {
  @include flex(column, center, center);
  position: relative;
  height: 35vh;
  width: 100%;
  z-index: 0;
  background-image: url("../../../img/tom-hermans-9BoqXzEeQqM-unsplash.jpg"); //url("https://i.ibb.co/dJLxwK6/tom-hermans-9-Boq-Xz-Ee-Qq-M-unsplash.jpg");
  object-fit: cover;
  animation: fadeIn 1.5s ease-out;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  .words {
    position: absolute;
    top: 50%;
    text-align: center;
    text-shadow: $text-shadow;
    color: white;
    h3 {
      margin: 10px;
      font-weight: 700;
    }
  }

  img {
    height: 100%;
  }
}

@include mobile {
  .home-section {
    .words {
      h4 {
        font-size: 16px;
      }
    }
  }
}

@include tablet {
  .home-section {
    .words {
      h4 {
        font-size: 18px;
      }
    }
  }
}

@include desktop {
  .home-section {
    .words {
      h4 {
        font-size: 20px;
      }
    }
  }
}
