@import "../../styles/utils.scss";
.user-review {
  &-container {
    @include flex(row, none, none);
    margin: 5px;
    border-bottom: 1px solid #e3e3e3;
    div:nth-child(1) {
      img {
        height: 100px;
      }
    }

    div:nth-child(2) {
      margin: 5px;
      width: 100%;
      div {
        height: 100%;
        width: 100%;
        @include flex(column, none, center);
        .like-container {
          @include flex(row, center, none);
          margin-top: 5px;
          span {
            margin-right: 5px;
            &.likebtn {
              cursor: pointer;
              svg {
                stroke: $white-grey;
                stroke-width: 20px;
                path {
                  fill: $white-grey;
                }

                & path:hover {
                  fill: $pink;
                }
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }

  &-book,
  &-text {
    margin-bottom: 10px;
    white-space: pre-wrap;
    line-height: 1.4;
  }

  &-date {
    color: $dark-grey;
  }

  &-edit,
  &-remove {
    cursor: pointer;
  }
}

@include mobile {
  .user-review {
    .review-container {
      div:nth-child(2) {
        div {
          .review-like,
          .review-date,
          .review-book,
          .review-text {
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}

@include tablet {
  .user-review {
    .review-container {
      div:nth-child(2) {
        div {
          .review-like,
          .review-date,
          .review-book,
          .review-text {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

@include desktop {
  .user-review {
    .review-container {
      div:nth-child(2) {
        div {
          .review-like,
          .review-date,
          .review-book,
          .review-text {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
