@import "../../styles/utils.scss";
.category {
  position: relative;
  ul {
    @include flex(row, center, none);
    text-align: center;
    li {
      flex: 1;
      font-weight: 800;
      background-color: $sun-flower;
      color: white;
    }
  }
}

@include mobile {
  .category {
    top: -7px;
    ul {
      padding-top: 10px;
      li {
        padding: 10px;
        font-size: 0.9rem;
      }
    }
  }
}

@include tablet {
  .category {
    ul {
      li {
        padding: 15px;
      }
    }
  }
}

@include desktop {
  .category {
    ul {
      li {
        padding: 15px;
      }
    }
  }
}
