@import "../../styles/utils.scss";
.category {
  ul {
    @include flex(row, center, space-around);
    text-align: center;
    li {
      flex: 1;
      padding: 10px;
      //background-color: $hot-stone;
      //color: white;
      &:first-child {
        font-weight: 800;
        background-color: #a79f71;
        color: white;
      }
      &:not(:first-child):hover {
        color: #a79f71;
        cursor: pointer;
      }
    }
  }
}
