@import "../../styles/utils.scss";

.more-book-btn {
  justify-self: center;
  @include flex(row, center, center);
  background-color: #ff9594;
  border-radius: 20px;
  cursor: pointer;
  p {
    font-weight: 600;
    color: white;
  }
}
@include mobile {
  .book-list {
    @include flex(column, center, center);
    a {
      margin: 10px;
      padding: 10px;
      justify-self: center;
    }
  }

  .ser-container {
    min-height: 75vh;
  }

  .ser-ul {
    @include flex(column, center, center);
    width: 50vw;
    margin: 0 auto;
  }

  .more-book-btn {
    height: 60px;
    width: 200px;
  }
}
@include tablet {
  .book-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    grid-gap: 20px;
    a {
      justify-self: center;
    }
  }

  .ser-container {
    min-height: 75vh;
  }

  .ser-ul {
    @include flex(column, center, center);
    width: 50vw;
    margin: 0 auto;
  }

  .more-book-btn {
    width: 120px;
    height: 190px;
  }
}
@include desktop {
  .book-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 20px;
  }

  .ser-container {
    min-height: 75vh;
  }

  .ser-ul {
    @include flex(column, center, center);
    width: 50vw;
    margin: 0 auto;
  }

  .more-book-btn {
    width: 120px;
    height: 190px;
  }
}
