@import "../../styles/utils.scss";

.more-book-btn {
  justify-self: center;
  @include flex(row, center, center);
  background-color: #ff9594;
  border-radius: 20px;
  cursor: pointer;
  p {
    font-weight: 600;
    color: white;
  }
}

.ser-container {
  min-height: 75vh;
  .ser-ul {
    @include flex(column, center, center);
    width: 90vw;
    margin: 0 auto;
    margin-top: 10px;
    .ser-bg {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 15px;
      border-bottom: 1px solid #e3e3e3;
      &:not(:last-child) {
        border-bottom: 1px solid $dark-grey;
      }

      .ser-book {
        width: 160px;
        height: 185px;
        position: relative;
        img {
          width: 90%;
          height: 150px;
          border-radius: 5px;
          border: 1px solid #e3e3e37d;
        }
      }

      .ser-info {
        width: 100%;
        .ser-title {
          line-height: 25px;
        }

        .ser-author {
          display: block;
          font-size: 12px;
          line-height: 20px;
          margin: 5px 0;
        }

        .ser-contents {
          font-weight: lighter;
          line-height: 1.4;
          white-space: break-spaces;
        }

        .ser-score {
          margin-top: 10px;
          span {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@include mobile {
  .book-list {
    @include flex(row, center, center);
    flex-wrap: wrap;
    a {
      margin: 10px;
      padding: 10px;
      justify-self: center;
    }
  }

  .ser-container {
    .ser-ul {
      width: 85vw;
    }
  }

  .more-book-btn {
    height: 60px;
    width: 200px;
  }
}

@include tablet {
  .book-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    grid-gap: 20px;
    a {
      justify-self: center;
    }
  }

  .ser-container {
    .ser-ul {
      width: 90vw;
    }
  }

  .more-book-btn {
    width: 120px;
    height: 190px;
  }
}

@include desktop {
  .book-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 20px;
  }

  .ser-container {
    .ser-ul {
      width: 85vw;
    }
  }

  .more-book-btn {
    width: 120px;
    height: 190px;
  }
}
