@import "../../styles/utils.scss";

.social-login {
  @include flex(column, center, center);
  padding: 5px;
  h2 {
    font-size: $h2;
    margin: 10px;
    font-weight: 700;
  }

  .facebook {
    @include base-button(blue);
    @include flex(row, center, center);
  }

  .github {
    @include base-button(black);
    @include flex(row, center, center);
  }

  .icon {
    font-size: 25px;
    margin-right: 10px;
  }
}
