@import "../../styles/utils.scss";

.social-login {
  @include flex(column, center, center);
  padding: 5px;
  h2 {
    font-size: $h2;
    margin: 10px;
    font-weight: 700;
  }

  .facebook {
    @include base-button(blue);
    @include flex(row, center, center);
  }

  .github {
    @include base-button(black);
    @include flex(row, center, center);
    height: 30px;
    position: relative;
    @include mobile {
      width: 80vw;
    }
  }

  .icon {
    position: absolute;
    font-size: 25px;
    margin-right: 10px;
    left: 10%;
  }
}
