@import "../../styles/utils.scss";
.search-bar {
  @include flex(row, center, center);
  .form-container {
    @include flex(row, center, none);
    position: relative;
    border: none;
    height: 20px;
    input {
      width: 100%;
      height: 100%;
      padding: 5px;
      padding-left: 40px;
      border: none;
      border-radius: 10px;
    }

    svg {
      position: absolute;
      left: 15px;
      cursor: pointer;
    }

    label {
      @include flex(row, none, center);
      input[type="radio"] {
        padding-left: 10px;
        margin-right: 10px;
      }
    }
  }
}

@include mobile {
  .search-bar {
    width: 50%;
    .form-container {
      width: 85%;
      input {
        font-size: 12px;
      }
    }
  }
}

@include tablet {
  .search-bar {
    width: 60%;
    .form-container {
      width: 90%;
      input {
        font-size: 14px;
      }
    }
  }
}

@include desktop {
  .search-bar {
    width: 65%;
    .form-container {
      width: 90%;
      input {
        font-size: 14px;
      }
    }
  }
}
