@import "../../styles/utils.scss";
.nav {
  display: flex;
  align-items: center;
}

.header {
  @include flex(row, center, space-between);
  top: 0;
  width: 100%;
  background-color: rgb(236, 234, 222);
  border-bottom: 2px solid $white-grey;
  z-index: 1;
  transition: all 0.3s ease-out;
  .title {
    cursor: pointer;
    a {
      color: #bdc100;
      .fr {
        font-weight: 100;
      }

      .en {
        font-weight: 600;
      }
    }
  }

  .ul {
    @include flex(row, center, none);
    li {
      margin: 10px;
      cursor: pointer;
      position: relative;
      @include flex(column, none, none);
      span {
        font-size: 35px;
      }

      .menu {
        display: none;
        position: absolute;
        left: 0;
        top: 5px;
        transform: translateY(40px) translateX(-100px);
        width: 155px;
        background: white;
        box-shadow: 0px 2px 10px 2px #ababab;
        z-index: 10;
        .callout {
          position: absolute;
          width: 0;
          height: 0;
          top: -10px;
          right: 20%;
          border-style: solid;
          border-width: 6px;
          border-color: transparent;
          border-bottom-color: rgba(255, 255, 255, 1);
        }
      }
    }
  }

  .login {
    @include flex(row, none, none);
  }
}

@include mobile {
  .header {
    height: 11vh;

    .title {
      font-size: 20px;
      margin: 6px;
    }

    .community {
      cursor: pointer;
      font-size: 0.65rem;
    }

    .ul {
      margin: 0px;
    }
  }
}

@include tablet {
  .header {
    height: 10vh;

    .title {
      font-size: 22px;
      margin: 10px;
    }

    .community {
      cursor: pointer;
      font-size: 0.85rem;
    }

    .ul {
      margin: 5px;
    }
  }
}

@include desktop {
  .header {
    height: 12vh;

    .title {
      font-size: 25px;
      margin: 10px;
    }

    .community {
      cursor: pointer;
    }

    .ul {
      margin: 10px;
    }
  }
}
