@import "../../styles/utils.scss";

.header {
  @include flex(row, center, space-between);
  top: 0;
  width: 100%;
  z-index: 1;
  transition: all 0.3s ease-out;
  .nav {
    @include flex(row, center, space-around);
    background-color: $header-bg-color;
    border-bottom: 2px solid $white-grey;
    width: 100%;
    height: 100%;
    .title {
      cursor: pointer;
      a {
        color: #bdc100;
        .fr {
          font-weight: 100;
        }

        .en {
          font-weight: 600;
        }
      }
    }

    .menu-container {
      @include flex(row, center, center);
      .community {
        text-align: center;
        font-weight: 800;
        border: 1px solid white;
        border-radius: 20px;
        padding: 5px;
        background-color: white;
        cursor: pointer;
        p {
          white-space: pre;
        }
      }
    }
  }

  .ul {
    @include flex(row, center, none);
    li {
      margin: 5px;
      cursor: pointer;
      position: relative;
      white-space: pre;
      @include flex(column, none, none);
      span {
        font-size: 35px;
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }

      .menu {
        display: none;
        position: absolute;
        left: 0;
        top: 5px;
        transform: translateY(40px) translateX(-100px);
        width: 155px;
        background: white;
        box-shadow: 0px 2px 10px 2px #ababab;
        z-index: 10;
        .callout {
          position: absolute;
          width: 0;
          height: 0;
          top: -10px;
          right: 20%;
          border-style: solid;
          border-width: 6px;
          border-color: transparent;
          border-bottom-color: rgba(255, 255, 255, 1);
        }
      }
    }
  }

  .login {
    @include flex(row, none, none);
  }
}

@include mobile {
  .header {
    @include flex(column, center, none);
    height: 100%;
    .title {
      font-size: 20px;
      margin: 6px;
    }

    .nav.mobile {
      position: relative;
      @include flex(row, none, space-around);
      width: 100%;
      height: 55px;
      .mobile-menu-bar {
        height: 50%;
        width: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
        z-index: 1;
        li {
          height: 5px;
          width: 100%;
          margin: 0 auto;
          background: white;
        }
      }
    }

    .mobile-menu-container {
      width: 100%;
      padding: 5px;
      background-color: $header-bg-color;
      .mobile-menu-item {
        padding: 5px 10px;
        font-weight: bold;
        &:not(:last-child) {
          border-bottom: 1px solid gainsboro;
          margin-bottom: 5px;
        }
      }
    }
  }
}

@include tablet {
  .header {
    height: 70px;
    .title {
      font-size: 22px;
      margin: 10px;
    }

    .community {
      font-size: 0.75rem;
      p {
        font-size: 0.45rem;
      }
    }

    .ul {
      margin: 5px;
    }
  }
}

@include desktop {
  .header {
    height: 70px;
    .title {
      font-size: 25px;
      margin: 10px;
    }

    .ul {
      margin: 10px;
    }
  }
}
