@import "../../styles/utils.scss";
.modal-container {
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.16);
    display: block;
  }

  .modal {
    position: fixed;
    display: block;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75vh;
    width: 45vw;
    background-color: white;
    @include mobile {
      width: 90vw;
    }

    @include flex(column, center, center);
    .exit {
      position: absolute;
      right: 0;
      top: 0;
      margin: 10px;
      cursor: pointer;
    }

    img {
      max-width: 250px;
      max-height: 350px;
      width: 50%;
      margin-top: 15px;
      margin-bottom: 15px;
      border: 1px solid #e3e3e3;
    }

    .status-wrapper {
      @include flex(column, center, center);
      width: 60%;
    }

    .read-status {
      @include flex(row, center, center);
      .current-status {
        margin-left: 10px;
      }
    }

    .select {
      height: 20px;
      width: 100%;
      margin: 10px;
    }

    .button-container {
      width: 100%;
      @include flex(row, center, center);
      .ok-btn {
        @include base-button($green, 100%);
      }

      .cancel-btn {
        @include base-button($red, 100%);
      }
    }
  }
  .book-info-container {
    @include flex(column, center, none);
    position: relative;
    .img-container {
      position: relative;
      width: 10rem;
      height: 15rem;
      &::after {
        @include bookShape;
      }

      img {
        position: relative;
        width: 10rem;
        height: 15rem;
        margin: 0;
      }
    }
    .book-info-form {
      @include flex(column, center, none);
      width: 15rem;
      input {
        width: 100%;
        margin: 5px;
        padding: 5px;
        border: 1px solid $white-grey;
        &[type="file"] {
          background-color: $dark-grey;
          color: white;
        }

        &[type="submit"] {
          @include base-button($blue);
          margin-left: 0;
          margin-right: 0;
        }
      }

      textarea {
        @include textarea-style;
      }

      .ok-btn {
        @include base-button($green, 100%);
      }
    }
  }
}
