@import "../../styles/utils.scss";

.search-keyword {
  padding: 15px;
  font-weight: 800;
  background-color: #f1c40f;
  color: white;
  text-align: center;
}

.search-result-container {
  margin: 10px;
  font-weight: bold;

  .empty {
    min-height: 80vh;
    width: 80vw;
    padding: 8px;
    margin: 0 auto;
    margin-top: 10px;
    border: 4px solid #eceade;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 0px;
    p {
      padding-top: 20px;
      text-align: center;
    }
  }
}
