.nomatch-section {
  padding: 80px;
  text-align: center;
  height: 65vh;
  h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  img {
    height: 250px;
    margin-bottom: 10px;
  }
}
