@import "../../styles/utils.scss";
.book-detail {
  .book-rater-list {
    height: 8vh;
    width: 100vw;
    background-color: #282f38;
    ul {
      height: 100%;
      width: 100%;
      padding: 0;
      overflow-y: hidden;
      overflow-x: scroll;
      display: flex;
      align-items: center;
      & .star {
        @include flex(row, center, center);
        color: $sun-flower;
        margin-left: 1rem;
        width: 40px;
        height: 40px;
        border: 2px solid;
        border-radius: 50%;
      }
      & .book-rater {
        width: 40px;
        height: 40px;
        border: 2px solid $sun-flower;
        border-radius: 50%;
        margin-left: 10px;
        background-color: white;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
    }
  }
  .title,
  .author,
  .discription {
    margin-bottom: 15px;
  }
  .author {
    strong {
      font-weight: bold;
    }
  }
  .discription {
    display: inline;
    line-height: 20px;
    white-space: pre-line;
    min-height: 3rem;
    font-weight: bold;
  }
  .rate-wrapper {
    margin-top: 10px;
    span {
      color: #b0b0b0;
      display: block;
    }
  }
}
@include mobile {
  .book-detail {
    .book-rater-list {
      .fixed {
        position: fixed;
      }
    }
    .book-info-wrapper {
      @include flex(column, center, center);
      padding: 30px;
      .img-col {
        @include flex(column, center, center);
        img {
          width: 75vw;
          height: 400px;
          cursor: pointer;
          animation: fadeIn 1s ease-out;
          border: 3px solid #e3e3e3;
          border-radius: 10px;
        }
      }
      .book-content {
        @include flex(column, none, none);
        margin-top: 30px;
        width: 100%;
        .bookmeta {
          @include flex(row, center, flex-start);
          margin-bottom: 10px;
          span {
            margin-right: 10px;
          }
          .score {
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
              margin-bottom: 5px;
              margin-right: 5px;
              color: $sun-flower;
            }
            .angle-down {
              cursor: pointer;
            }
          }
        }
        .title {
          font-size: 1.1rem;
        }
        .add {
          @include flex(column, none, flex-start);
          .select {
            width: 120px;
          }
          .want-read {
            @include flex(row, center, center);
            @include base-button(#27ae60);
            margin-left: 0;
            width: 80px;
            span {
              margin-right: 5px;
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
}
@include tablet {
  .book-detail {
    .book-rater-list {
      .fixed {
        position: fixed;
      }
    }
    .book-info-wrapper {
      @include flex(column, center, center);
      padding: 30px 30px;
      .img-col {
        @include flex(column, center, none);
        margin-right: 30px;
        width: 30%;
        img {
          width: 320px;
          height: 400px;
          margin-left: 10px;
          cursor: pointer;
          animation: fadeIn 1s ease-out;
          border: 3px solid #e3e3e3;
          border-radius: 10px;
        }
      }
      .book-content {
        @include flex(column, none, none);
        margin-top: 30px;
        width: 70%;
        .bookmeta {
          @include flex(row, center, flex-start);
          margin-bottom: 10px;
          span {
            margin-right: 10px;
          }
          .score {
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
              margin-bottom: 5px;
              margin-right: 5px;
              color: $sun-flower;
            }
            .angle-down {
              cursor: pointer;
            }
          }
        }
        .title {
          font-size: 1.2rem;
        }
        .add {
          @include flex(column, none, flex-start);
          .select {
            width: 120px;
          }
          .want-read {
            @include flex(row, center, center);
            @include base-button(#27ae60);
            margin-left: 0;
            width: 80px;
            span {
              margin-right: 5px;
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
}
@include desktop {
  .book-detail {
    .book-rater-list {
      .fixed {
        position: fixed;
      }
    }
    .book-info-wrapper {
      @include flex(row, none, center);
      padding: 30px 10px;
      .img-col {
        @include flex(column, center, none);
        margin-right: 30px;
        width: 30%;
        img {
          width: 250px;
          height: 400px;
          margin-left: 10px;
          cursor: pointer;
          animation: fadeIn 1s ease-out;
          border: 3px solid #e3e3e3;
          border-radius: 10px;
        }
      }
      .book-content {
        display: flex;
        flex-direction: column;
        margin-right: 100px;
        margin-bottom: 15px;
        width: 70%;
        .bookmeta {
          @include flex(row, center, flex-start);
          margin-bottom: 10px;
          span {
            margin-right: 10px;
          }
          .score {
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
              margin-bottom: 5px;
              margin-right: 5px;
              color: $sun-flower;
            }
            .angle-down {
              cursor: pointer;
            }
          }
        }
        .title {
          font-size: 1.5rem;
        }
        .add {
          @include flex(column, none, flex-start);
          .select {
            width: 120px;
          }
          .want-read {
            @include flex(row, center, center);
            @include base-button(#27ae60);
            margin-left: 0;
            width: 80px;
            span {
              margin-right: 5px;
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
}
