@import "../../styles/utils.scss";
.home-content {
  @include base-height;
  padding-bottom: 40px;
  .books-wrapper {
    margin: 0 auto;
    min-height: 400px;
    .book-category-section {
      text-align: center;
      transition: all 0.5s ease-in-out;
      .book-category-div {
        @include flex(row, center, center);
        margin-bottom: 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 3px 1px #c3c3c3;
        transition: all 0.5s ease-in-out;
        &.hide {
          height: 60px;
        }
        &.more {
          height: 120px;
        }
        .book-category-ul {
          width: 95%;
          display: grid;
          grid-template-columns: repeat(7, auto);
          grid-template-rows: (40px);
          gap: 9px;
          li {
            @include flex(row, center, center);
            padding: 3px;
            margin: 2px;
            width: 95%;
            height: 50%;
            justify-self: center;
            align-self: center;
            text-align: center;
            border: 1px solid $sun-flower;
            border-radius: 20px;
            line-height: 2;
            cursor: pointer;
            transition: all 0.5s ease-out;
            &.selected {
              background-color: $sun-flower;
              color: white;
              transition: all 0.5s ease-out;
            }
          }
        }
      }
      .more-container {
        @include flex(column, center, center);
        display: inline-flex;
        margin-bottom: 10px;
        cursor: pointer;
        .more {
          color: $sun-flower;
          font-size: 1.5rem;
        }
      }
    }
  }
}

@include mobile {
  .books-wrapper {
    width: 100vw;
    padding: 0;
    .book-category-div {
      border-bottom: 1px solid #e3e3e3;
      padding: 5px 0;
      width: 90%;
      margin: 10px auto;
      li {
        padding: 4px !important;
        font-size: 0.72rem;
      }
    }
  }
}

@include tablet {
  .books-wrapper {
    width: 85vw;
    .book-category-div {
      padding: 5px 0;
      li {
        font-size: 0.8rem;
      }
    }
  }
}
@include desktop {
  .books-wrapper {
    width: 80vw;
    .book-category-div {
      padding: 10px 0px;
      li {
        font-size: 1rem;
      }
    }
  }
}
