@import "../../styles/utils.scss";
.signup-form {
  padding-top: 80px;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    height: fit-content;
    input {
      margin: 10px;
      width: 100%;
      padding: 5px;
      font-size: $input-fontSize;
      &[type="submit"] {
        @include Lbutton-style;
      }
    }
  }
  button {
    @include Lbutton-style;
    width: 20rem;
  }
}
