@import "../../styles/utils.scss";
.user-edit {
  position: absolute;
  padding: 10px;
  box-shadow: $box-shadow;
  border-radius: 5px;
  background: white;
  z-index: 100;
  right: 50%;
  transform: translate(50%);
  &.open {
    animation: showModal 0.7s ease-out both;
  }

  &.close {
    animation: hideModal 0.7s ease-out both;
  }

  .x-button {
    @include flex(row, none, none);
    flex-direction: row-reverse;
    border-bottom: 0.5px solid $dark-grey;
    p {
      cursor: pointer;
    }
  }

  .form-container {
    height: 100%;
    form {
      @include flex(column, center, center);
      .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        @include flex(column, center, center);
        .preview-img {
          border-radius: 50%;
          border: 1px solid $white-grey;
        }

        .btn {
          border: 2px solid gray;
          color: gray;
          background-color: white;
          padding: 8px 20px;
          border-radius: 8px;
          font-size: 10px;
          font-weight: bold;
        }

        input[type="file"] {
          font-size: 17.5px;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
        }
      }

      input:not([type="file"]) {
        width: 100%;
        margin: 7px;
        padding: 7px;
        border: 1px solid $white-grey;

        &[type="submit"] {
          @include base-button($blue);
          margin-left: 0;
          margin-right: 0;
        }
      }

      textarea {
        @include textarea-style;
      }
    }
  }

  button {
    @include base-button(red);
    color: white;
    margin-top: 0px;
  }
}

@include mobile {
  .user-edit {
    width: 90%;
    height: 500px;
    top: 15%;

    .form-container {
      form {
        .upload-btn-wrapper {
          margin-bottom: 10px;
          .preview-img {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }
}

@include tablet {
  .user-edit {
    width: 450px;
    height: 500px;
    top: 15%;

    .form-container {
      form {
        .upload-btn-wrapper {
          margin-bottom: 10px;
          .preview-img {
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }
}

@include desktop {
  .user-edit {
    width: 500px;
    height: 500px;
    top: 20%;

    .form-container {
      form {
        .upload-btn-wrapper {
          .preview-img {
            width: 100px;
            height: 100px;
          }
        }
      }
    }
  }
}
