@import "../../styles/utils.scss";
.book-upload {
  padding-top: 5vh;
  .form-container {
    height: 100%;
    padding-top: 20px;
  }

  form {
    @include flex(column, center, center);
    .upload-btn-wrapper {
      position: relative;
      overflow: hidden;
      margin-bottom: 10px;
      @include flex(column, center, center);

      .preview-img {
        width: 20rem;
        height: 20rem;
        border: 1px solid $white-grey;
        background: #e3e3e3;
        content: none;
      }

      .btn-container {
        width: 100%;
        .btn {
          border: 2px solid gray;
          color: gray;
          background-color: white;
          padding: 8px 20px;
          border-radius: 8px;
          font-size: 10px;
          font-weight: bold;
          width: 100%;
        }
      }

      input[type="file"] {
        font-size: 17.5px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
      }
    }
  }

  input {
    width: 100%;
    margin: 5px;
    padding: 5px;
    border: 1px solid $white-grey;
    &[type="file"] {
      background-color: $dark-grey;
      color: white;
    }

    &[type="submit"] {
      @include base-button($blue);
      margin-left: 0;
      margin-right: 0;
    }
  }

  .authors {
    width: 100%;
    padding: 0px 6px;
    border: 1px solid $white-grey;
    @include flex(row, center, none);
    .author-name {
      color: $dark-grey;
      overflow: hidden;
      white-space: pre;
      text-overflow: ellipsis;
    }

    .author-tag {
      font-size: 0.8rem;
      padding: 5px;
      margin-right: 3px;
      @include flex(row, none, space-between);
      .author-name {
        color: white;
      }

      .author-x {
        color: $white-grey;
        cursor: pointer;
        margin-left: 3px;
        margin-right: 3px;
        &:hover {
          color: red;
        }
      }
    }
    .author-input {
      margin: 3px;
    }

    .author-tag {
      background-color: $blue;
    }

    .author-tag,
    .author-input {
      width: 50px;
      border-radius: 10px;
      border: 1px solid $blue;
    }
  }

  textarea {
    @include textarea-style;
  }
}
